.trafficlight-body {
    background: #000000;
    margin: 40px auto;
    width: 250px;
    height: 500px;
    border-radius: 25px;
}
#firstlight {
    background: red;
    height: 150px;
    width: 150px;
    border-radius: 99px;
    margin: 10px auto;
    cursor: pointer
}
#secondlight {
    background: yellow;
    height: 150px;
    width: 150px;
    border-radius: 99px;
    margin: 10px auto;
    cursor: pointer
}
#thirdlight {
    background:yellowgreen;
    height: 150px;
    width: 150px;
    border-radius: 99px;
    margin: 10px auto;
    cursor: pointer
}
#secretlight {
    background:purple;
    height: 150px;
    width: 150px;
    border-radius: 99px;
    margin: 10px auto;
    cursor: pointer
}
.glow {
    box-shadow: 0 0 50px 15px wheat;
    cursor: pointer 
}